.Thankyou-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}
.Thankyou-container-heading {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 500;
  color: #0f172a;
}
.love {
  width: 50%;
}
.Thankyou-container-description {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
  color: #1e293b;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .love {
    width: 10%;
  }
  .Thankyou-container-heading {
    font-size: 3rem;
  }
  .Thankyou-container-description {
    font-size: 2rem;
  }
}
